@import './Variables';
@import './PlaceHolderContainer';

.review {
  // Denne er vigtigt så der ikke overskrives ved import af flere css filer

  button {
    @include readMoreButton;
  }

  .author {
    margin-bottom: 0.25rem;
  }
  .info {
    margin-bottom: 0;
  }
  .previous-btn,
  .next-btn {
    color: grey;
    font-size: 1.25rem;
    background: transparent;
    border-color: transparent;
    margin: 0 0.5rem;
    transition: all 0.3s linear;
    cursor: pointer;
    justify-content: end;
  }
  .previous-btn:hover,
  .next-btn:hover {
    color: black;
  }

  h4 {
    letter-spacing: 0.1rem;
    line-height: 1.25;
    align-self: flex-start;
    font-size: 1.75rem;
    margin-bottom: 1rem;
  }
}
